helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222

margin = 12px

font-size = 14px
line-height = 1.5em
