@import 'base/all'

global-reset()

*
  box-sizing: border-box

body,
input,
textarea
  font-family: helvetica
  font-size: font-size
  line-height: line-height
  text-shadow: blue

a
  color: blue
  text-decoration: none

#header
  background: silver
  padding: margin * 2

main
  padding: margin * 5
