h1 New Photo

form(method="POST" action=route('photos', 'new') enctype="multipart/form-data")
  label(for="photo") Select a photo
  input(type="file" name="photo" id="photo")
  button(type="submit") Save
