figure
  img(src=src.url)
header
  label
    a(href=user.url, target="_blank")= user().name
  label #{Math.round(rating())}/5 Stars
  if userHasRated()
    label You've rated this
  else
    form.rating
      select(name="rating")
        each i in [1, 2, 3, 4, 5]
          option(value=i)= i
      button(type="submit") Rate
div.comments
